.flex{
    display: flex;}


/*BODY*/

body{
    background-color: #080808;
    padding: 10px 84px 53.2px 76px;
}

/*HEADER*/

.sociais{
    color: #5F5F5F;
}

nav ul li{
    list-style: none;
    color: #9c9c9c;
    text-decoration: none;
    flex-direction: row-reverse;
}

nav{
    background-color: #1B1B1B;
    width: 1272px;
    height: 74px;
    padding: 28px 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
 /*MEIO*/



 .Nome{
    color: #fff;
    font-size: 44px;
    font-weight: 800;
 }

 .Profissão{

    color: #fff;
    font-size: 24px;
    font-weight: 200;
}

 .Descrição{
    color: #9C9C9C;
    font-size: 21px;
    font-weight: 400;
 }