.flex{
    display: flex;}


/*BODY*/

body{
    background-color: #080808;
    padding: 10px 84px 53.2px 76px;
}



/*HEADER*/

.sociais{
    color: #5F5F5F;
}

nav ul li{
    list-style: none;
    color: #9c9c9c;
    text-decoration: none;
    flex-direction: row-reverse;
}

nav{
    background-color: #1B1B1B;
    width: 1272vw;
    height: 74vw;
    padding: 28vw 24vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom:24vvw;
}
 /*MEIO*/



 .Nome{
    color: #fff;
    font-size: 21rem;
    font-weight: 800;
 }

 .Profissão{

    color: #fff;
    font-size: 24em;
    font-weight: 200;
}

 .Descrição{
    color: #9C9C9C;
    font-size: 21em;
    font-weight: 400;
 }

 /*footer*/

 .figma{
    padding: 25px;
    border-radius: 12px;
    border-style: solid;
    border-color: #9C9C9C;
    color: #fff;
 }

 @media (max-width: 768px) {
    body{
        max-width: auto;
    }
 }