/*FIRST*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

ul {
    list-style-type: none;
  }

header {
    background-color: #c62828;
<<<<<<< HEAD
    color: #FFFFFF;
    margin: auto;
=======

>>>>>>> 8c0d9ef629fb5d4bfb7671cafa192acf9d14afca
}

img {
    max-width: 100%;
    display: block
}

body {
    font-size: 16px;
    font: 16px/1.6 system-ui, sans-serif;
    color: #374151;
    background: #f6f7f8;
}

main {
    margin: 100px 550px ;
<<<<<<< HEAD
=======
    max-width: 1900px;
}

/*HEADER*/

.linha-horizontal-red{
    border-top: 3px solid red; 
    width: 100px;
    margin-top: 100px;
    border-radius: 50px;
}


.linha-horizontal{
    border-top: 2px solid #fff; 
    width: 300px;
    margin: 20px auto;
    height: 0;
}

.left{
    margin: auto;
}

.rigth{
    margin: auto;
    margin-left: 0px;
    margin-right: 500px;
}
.linha-vertical {
    border-left: 2px solid #fff; 
    height: 60px;
    margin: 0px 30px 0px 30px;
}

/*article*/

.aspas-container{
    display: flex;
    justify-content: center;
}

.aspas{
    width: 70px;
    height: 65px;
    
}

.citacao{
    background-color: #EFF2F7;
    border-radius: 5px;
}

/*baixo*/

.ligther{
    font-weight: lighter;
>>>>>>> 8c0d9ef629fb5d4bfb7671cafa192acf9d14afca
}

/*HEADER*/

.collor{
    color: #FFFFFF;
}

header ul li{
    list-style: none;
}

.afastar{
    padding-left: 100px;
} 

.afastar-3{
    padding-left: 60px;
} 

/*Meio*/

.p-3{
    background-color: #EFF2F7;
    border-radius: 5px;
}

/*P.C.*/
.ligther{
    font-weight: lighter;
}


/*TIPOGRAFY*/

.categoria {
    justify-content: end;
    color: #374151;
    font-size: 14px;
}

.h1 {
    font-size: 2rem;
    font-weight: 800;
    width: 787px ;
    height: 168px ;
}

.muted {
    color: #6b7280
}

.mt-2 {
    margin-top: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-4 {
    margin-bottom: 1rem
}

.p-1{
    padding: .9rem;
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: 1rem
}

.text-center {
    text-align: center
}

/*COLOR*/
.primary {
    color: #c62828
}

.withe{
    color: #fff;
}


.chip {
    border: 1px solid #e57373;
    border-radius: 0px;
    padding: .25rem .5rem;
    color: #c62828;
    background: #fff;
    list-style: none;
}

/*FLEX*/


.container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 1rem;
    margin-left: 300px;
}

.flex {
    display: flex
}

.items-center {
    align-items: center
}

.between {
    justify-content: space-between
}

.gap-2 {
    gap: .6rem
}

/*RESPONSATIVIT*/

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

.col-12 {
    flex: 1 1 100%
}

.col-6 {
    flex: 1 1 100%
}

/* mobile */

@media (min-width:768px) {
    .col-6 {
        flex: 1 1 calc(50% - 1rem)
    }

    .hide-mobile {
        display: none
    }
}

@media (min-width:1024px) {
    .h1 {
        font-size: 2.5rem
    }
}

/*CHIPS*/
.chips {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem
}